<!doctype html>
<html lang="en" class="h-100">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Bookshelf">
    <meta name="author" content="Santiago Mena">
    <title>Bookshelf - tribe.agency</title>

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <style>
        .content {
            margin-top: 4rem;
        }

        .img-mini {
            width: 5rem;
        }

        .flip-card {
            background-color: transparent;
            width: 300px;
            height: 300px;
            border: 1px solid #f1f1f1;
            perspective: 1000px; /* Remove this if you don't want the 3D effect */+
            margin: auto;
        }

        /* This container is needed to position the front and back side */
        .flip-card-inner {
            position: relative;
            width: 100%;
            height: 100%;
            text-align: center;
            transition: transform 0.8s;
            transform-style: preserve-3d;
        }

        /* Do an horizontal flip when you move the mouse over the flip box container */
        .flip-card:hover .flip-card-inner {
            transform: rotateY(180deg);
        }

        /* Position the front and back side */
        .flip-card-front, .flip-card-back {
            position: absolute;
            width: 100%;
            height: 100%;
            -webkit-backface-visibility: hidden; /* Safari */
            backface-visibility: hidden;
        }

        /* Style the front side (fallback if image is missing) */
        .flip-card-front {
            background-color: white;
            color: black;
        }

        /* Style the back side */
        .flip-card-back {
            background-color: dodgerblue;
            color: white;
            transform: rotateY(180deg);
        }

        .image-background {
            background-repeat: no-repeat;
            background-size: cover;
            width: 100%;
            height: 100%;
        }

        .card-back {
            border: 2px solid #198754;
            border-radius: 10px;
            padding: 20px;
            max-width: 300px;
            margin: 0 auto;
            background-color: #f7f7f7;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        .genre {
            color: #198754;
            font-weight: 300;
            margin-bottom: 10px;
        }

        .year {
            color: #666;
            margin-bottom: 10px;
        }

        .description {
            color: #333;
            font-size: 16px;
            margin-bottom: 20px;
            height: 10rem;
        }

        .author {
            color: #198754;
            font-weight: bold;
            margin-bottom: 0;
        }

        .card span {
            font-weight: normal;
        }

        .text-truncate {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .title {
            background-color: #ffffff;
            color: #000000;
            padding: 10px 20px;
            border: 2px solid #808080;
            text-align: center;
            font-size: 32px;
            font-weight: bold;
            font-family: Arial, sans-serif;
            text-transform: capitalize;
            border-radius: 5px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        .wishlist-item {
            border: 1px solid #f1f1f1;
            padding: 1rem;
        }

    </style>
</head>
<body class="d-flex flex-column h-100">

<header>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-xl">
            <a class="navbar-brand" href="/bookshelf">Bookshelf</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#newBookModal">Add Book</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#shareBookshelfModal">Share Bookshelf</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="wishlist" href="#" data-bs-toggle="modal" data-bs-target="#wishListModal">Wishlist</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<!-- Begin page content -->
<main class="flex-shrink-0">
    <div class="container content">
        {% block content %}
        {% endblock %}
    </div>
</main>

{{
    include('_bookshelf/book/_modalNewBook', {})
}}

{{
    include('_bookshelf/book/_modalShareBookshelf', {})
}}

{{
    include('_bookshelf/book/_modalWhishList', {})
}}
<footer class="footer mt-auto py-3 bg-light">
    <div class="container">
        <span class="text-muted">Tribe.Agency</span>
    </div>
</footer>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>
</html>
